@import "../flexslider.less";
@import "../includes.less";

.border-box() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#main {
	.landing-content {
		background: #ed5b33;
		 overflow:hidden;
		 width:100%;

		#portfolio {
		  background: #F4F4F4;
		  color: white;
		  position: relative;


		  h2 {
		    font-family: "TradeGothic", sans-serif;
		    font-weight: normal;
		    line-height: 21px;
		    letter-spacing: -0.5px;
		    font-size: 18px;
		    -webkit-font-smoothing: antialiased;
		    max-width: 1140px;
		    margin: 0 auto;
		  }

			.case-image {
				max-width: 1000px;
				width: 100%;
				position: absolute;
				top: 80px;
				left: 50%;

				@media screen and (max-width: 520px) {
					max-height: 230px;
					width: auto;
				}
				@media screen and (max-width: 430px) {
					max-height: none;
					width: 380px !important;
					margin-left: -180px !important;
				}
			}
		  .case-studies {
		  	background:  #363232;
		    margin: 0 auto;
		    padding: 100px 20px 190px;
			.border-box();

		    .case {
		      max-width: 1070px;
				width: 100%;
				height: 420px;
				margin: 0 auto;
		      //position: relative;
		      h3 {
		        font-family: "Plantin", serif;
		        font-weight: bold;
		        font-size: 38px;
	        	line-height: 1.1;
		        -webkit-font-smoothing: antialiased;
		        width:50%;

		        @media screen and (max-width: 1024px) {
		        	font-size: 32px;
		        }
		        @media screen and (max-width: 800px) {
		        	font-size: 28px;
		        }
		        @media screen and (max-width: 600px) {
		        	font-size: 24px;
		        }
		        @media screen and (max-width: 400px) {
		        	font-size: 20px;
		        	line-height: 20px;
		        }
		      }
		      p {
		        font-family: "Plantin", serif;
		        font-size: 23px;
		        line-height: 31px;
		        -webkit-font-smoothing: antialiased;
		        margin: 0;
		        width:50%;

		        @media screen and (max-width: 1024px) {
		        	font-size: 16px;
		        	line-height: 26px;
		        }
		      }
		    }

		    @media screen and (max-width: 1174px) {
				//	padding: 100px 60px 115px;
		    }
		  }
			.case-button {
				max-width: 1140px;
				width: 100%;
				height: 44px;
				padding: 0 40px;
				.border-box();
				margin: -100px auto 20px;

				@media screen and (max-width: 1120px) {
					padding: 0 20px
				}

				@media screen and (max-width: 820px) {
					margin-top:-200px;
				}

				a {
				  color: white;
				  background: none;
				  border: 1px solid white;
				  padding: 13px 24px;
				  text-decoration: none;
				  border-radius: 4px;
				  -webkit-font-smoothing: antialiased;
				  font-family: "TradeGothic", sans-serif;

				  &:hover {
				  	background: white;
				  	color: #363232;
				  }
				}
			}

		  @media screen and (max-width: 720px) {
		  	padding-top: 0;

				h2 {
					display: none;
				}
				.case-image {
					left: 50%;
					width: 500px;
					margin-left: -250px;
					margin-top:70px;
					padding: 0 30px;
					.border-box();
				}
				.case-studies {
					padding: 0 20px;
					height:630px;

					.case {
						height: auto;
						width: 100%;
						max-width: 100%;

						h3 {
							margin:0;
							padding-top:50px;
							width:100%;
						}

						p { display: none; }
					}

				}
				.case-button {
					position: static;
					text-align: center;
					padding: 55px 0;
					margin-top: -170px;
				}
		  }
		  @media screen and (max-width: 420px) {
		  	.case-studies {
			  	height:545px;
			  }
		  }
		}
		#clients {
		  padding: 70px 30px;
		  background: #F4F4F4;
		  color: #242424;
		  position:relative;
		  .clients-block {
		    max-width: 1140px;
		    margin: 0 auto;
		    .border-box();
		    text-align: center;
		  }

		  h2 {
		  	font-family: "TradeGothic",sans-serif;
		  	font-weight: normal;
		  	line-height: 21px;
		  	letter-spacing: -0.5px;
		  	font-size: 18px;
		  	-webkit-font-smoothing: antialiased;
		  	max-width: 1140px;
		  	margin: 0 auto 32px auto;
		  	.border-box();
		  }

		  .clients-list {
		    display: inline-block;
		    vertical-align: top;
		    list-style: none;
		    width: 100%;
		    margin: 0;
		    padding: 0;

		    li {
		      display: inline-block;
		      width: 180px;
		      height: 80px;
		      margin-bottom: 20px;
		      .border-box();
		      text-indent: 100%;
		      overflow: hidden;
		      white-space: nowrap;
		      background-repeat: no-repeat;
		      background-position: center center;

		      img {
		      	display: block;
		      	margin: 0 auto;
		      	position: relative;
		      	top: 50%;
		      	margin-top: -15px;
		      }
		    }
		  }

		  @media screen and (max-width: 1140px) {
		    .clients-content {
		      display: none;
		    }
		    .clients-block {
		      padding: 0;
		    }
		    .clients-list {
		      display: block;
		      margin: 0 auto;
		    }
		  }

		  @media screen and (max-width: 873px) {
		    .clients-list {
		      max-width: 640px;
		    }
		  }

		  @media screen and (max-width: 657px) {
		    padding: 70px 0;
		    .clients-list {
		      max-width: 430px;
		    }
		  }

		  @media screen and (max-width: 443px) {
		    padding: 50px 0;
		    .clients-list {
		    	font-size: 0;
		      width: 100%;
		      li {
		      	width: 50%;
		      	background-size: 80%;
		        margin-bottom: 0;
		      }
		    }
		  }
		}

		// Testimonial section

		#testimonial {
		  background: #ffffff;
		  position: relative;
		  padding-bottom:100px;
		  height:220px;
		  font-family: "Plantin", serif;
		 &:before {
	        content: '\201C';
	        display: block;
	        position: absolute;
	        font-size: 120px;
	        color: #F4F4F4;
	        left: 15px;
	        top: 35px;
	      }
	      @media screen and (max-width: 720px) {
      		&:before {
      			display: none;
      		}
	      }
		  .rotator-nav {
		  	position:absolute;
		  	z-index: 1;
		  	white-space:nowrap;
		  	padding:0;
		  	bottom:40px;
		  	left:0;
	  	  	width: 100%;
 		 	text-align: center;
 		 	.user-select();
		  	> li {
		  		cursor:pointer;
		  		list-style:none;
		  		display:inline-block;
		  		height:11px;
		  		width:11px;
		  		border-radius:11px;
		  		background:#ddd;
		  		margin:0 20px;
		  		border:1px solid transparent;
		  		vertical-align: middle;
		  		@media screen and (max-width: 500px) {
					height:9px;
					width:9px;
					margin:0 13px;
		  		}
		  		&.active, &:hover {
					border-color:#ed5b33;
					background: transparent;
		  		}
		  		&.active {
		  			cursor:auto;
		  		}
		  		&[data-index="prev"], &[data-index="next"] {
					background: transparent;
					border-radius: 0;
					width: 0;
					height: 0;
					border: 12px solid transparent;
					border-right: 12px solid #ddd;
					border-left: 0;
					position: relative;
					left:2px;
					@media screen and (max-width: 500px) {
						left:-5px;
					}
					&:before {
						  content: '';
						  position: absolute;
						  margin-left: 2px;
						  top: -10px;
						  border: 10px solid transparent;
						  border-right: 10px solid #fff;
						  border-left: 0;
					}
					&:hover {
						border-right: 12px solid #ed5b33;
					}
		  		}
		  		&[data-index="next"] {
					border-right: 0;
					border-left:12px solid #ddd;
					right:2px;
					left:auto;
					@media screen and (max-width: 500px) {
						right:-5px;
					}
					&:before {
						margin-left: -12px;
						border-right: 0;
						border-left:10px solid #fff;
					}
					&:hover {
						border-right:0;
						border-left: 12px solid #ed5b33;
					}
		  		}
		  	}
		  }
		  .client-quote {
		    text-align: center;
		    opacity:0;
		    .transition(opacity 0.7s linear);
		    &:nth-child(1) {
		    	opacity:1;
		    }

		    @media screen and (max-width: 720px) {
				.transition(opacity 0.5s linear);
		    }
		    p {
		    	max-width: 840px;
		    	margin: 0 auto;
		     // position: relative;

		      -webkit-font-smoothing: antialiased;
		      font-size: 24px;
		      padding: 80px 80px 20px;
		      .border-box();

		      @media screen and (max-width: 720px) {
	      		font-size: 20px;
	      		padding: 40px 8% 20px;
		      }

		      @media screen and (max-width: 400px) {
						font-size: 14px;
						line-height: 18px;
		      }
		    }
		    .client-title {
		      font-family: "TradeGothic", sans-serif;
		      -webkit-font-smoothing: antialiased;
		      font-size: 14px;
				padding-bottom: 30px;
		      @media screen and (max-width: 400px) {
						font-size: 12px;
						line-height: 18px;
						padding-bottom:0;
		      }

		      strong {
		        color: #ed5b33;
		      }

		    }
		  }

			@media screen and (max-width: 720px) {
				padding: 30px 0 30px;
				.rotator-nav {
					bottom:20px;
				}
				.client-title {
					padding-bottom: 30px;
				}
				.flexslider {
					margin-bottom: 0;
				}
				.flex-control-nav {
					top: 0;
					bottom: auto;
				}
			}
			@media screen and (max-width: 420px) {
				padding: 30px 0 60px;
			}
		}



		// Learn more section

		#learn-more {
		  display: block;
		  background: #ed5b33;
		  color: white;
		  margin: 0 auto ;
		  padding: 0;
		  width: 100%;
		  max-width: 1140px;
		  font-size: 0;
		  .translateZ();

		  .info {
		  	position:relative;
		    display: inline-block;
		    vertical-align: top;
		    width: 33.3%;
		    padding: 115px 3.5%;
		    background: #ed5b33;
		    .border-box();
		    height: 480px;

  	    &:nth-child(2) {
      		background: #E24F1E;
  	    }

  	    @media screen and (max-width: 1315px) {
		    	padding: 90px 3.5%;
  	    }

  	    @media screen and (max-width: 1125px) {
		    	padding: 80px 30px;
  	    }

		    @media screen and (max-width: 720px) {
		    	padding: 40px 30px;
					width: 100%;
					height: auto;
					text-align: center;
		    }

		    h2 {
		      margin: 0 0 23px 0;
		      font-family: "TradeGothic", sans-serif;
		      -webkit-font-smoothing: antialiased;
		      font-size: 18px;
		      font-weight: normal;

          @media screen and (max-width: 720px) {
      			text-align: left;
          }
		    }

		    p {
		      margin: 0 0 40px;
		      font-family: "Plantin", sans-serif;
		      -webkit-font-smoothing: antialiased;
		      font-weight: bold;
		      font-size: 24px;
		      line-height: 28px;

		      @media screen and (max-width: 1024px) {
		      	font-size: 20px;
		      	line-height: 1.1;
		      }
          @media screen and (max-width: 720px) {
      			text-align: left;

          }
          @media screen and (max-width: 400px) {
      			font-size: 18px;
      			line-height: 20px;
          }
		    }

		    a {
		    	display: inline-block;
		      color: white;
		      background: none;
		      border: 1px solid white;
		      font-size: 14px;
		      padding: 10px 22px;
		      text-decoration: none;
		      border-radius: 4px;
		      font-family: "TradeGothic", sans-serif;
		      -webkit-font-smoothing: antialiased;
		      position: absolute;
				bottom: 80px;
			@media screen and (max-width: 720px) {
				position:static;
			}

		      &:hover {
		      	background: white;
		      	color: #ed5b33;
		      }
		    }
		  }
		}
	}
}

.safari, .ios {
	#main .landing-content .slides {
	  .showBack();
	}
}
