<div class="contact-modal">

  <div class="inner">

    <h2>Whether in-person, over the phone, or via a subtle series of winks, we’d love to connect with you.</h2>

    <form action="#" method="post">
      <div class="contact-input">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="" tabindex="1" />
      </div>
      <div class="contact-input">
        <label for="email">Email address</label>
        <input type="email" name="email" id="email" value="" tabindex="1" />
      </div>
      <div class="contact-input">
        <label for="phone">Phone number</label>
        <input type="tel" name="phone" id="phone" value="" tabindex="1" />
      </div>

      <div>
        <label for="message">Message</label>
        <textarea cols="40" rows="8" name="message" id="message"></textarea>
      </div>

      <div class="form-submit"><span href="">Send message</span></div>
    </form>

    <%- @partial('footer') %>

  </div>

</div>
